@font-face {
  font-family: 'icomoon';
  src:  url('font/icomoon.eot?23p7zp');
  src:  url('font/icomoon.eot?23p7zp#iefix') format('embedded-opentype'),
    url('font/icomoon.ttf?23p7zp') format('truetype'),
    url('font/icomoon.woff?23p7zp') format('woff'),
    url('font/icomoon.svg?23p7zp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /*line-height: 1;*/

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-NEW:before {
  content: "\e91a";
  color: #fc3161;
}
.icon-huiyuan:before {
  content: "\e93c";
  color: rgb(219, 215, 254);
  font-size: 18px;
  margin-right: 5px;
}
.icon-uniE93D:before {
  content: "\e93d";
  color: rgb(219, 215, 254);
  font-size: 18px;
  margin-right: 5px;
}
.icon-bannermanege:before {
  content: "\e93e";
  color: rgb(219, 215, 254);
  font-size: 18px;
  margin-right: 5px;
}
.icon-company:before {
  content: "\e93f";
  color: rgb(219, 215, 254);
  font-size: 18px;
  margin-right: 5px;
}
.icon-zhuanji:before {
  content: "\e940";
  color: rgb(219, 215, 254);
  font-size: 18px;
  margin-right: 5px;
}
.icon-suport:before {
  content: "\e941";
  color: rgb(219, 215, 254);
  font-size: 18px;
  margin-right: 5px;
}
.icon-silver .path1:before {
  content: "\e91b";
  color: rgb(155, 178, 196);
}
.icon-silver .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(130, 158, 175);
}
.icon-silver .path3:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(130, 158, 175);
}
.icon-silver .path4:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(130, 158, 175);
}
.icon-silver .path5:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(130, 158, 175);
}
.icon-silver .path6:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(130, 158, 175);
}
.icon-silver .path7:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(130, 158, 175);
}
.icon-silver .path8:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(130, 158, 175);
}
.icon-silver .path9:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(130, 158, 175);
}
.icon-silver .path10:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(130, 158, 175);
}
.icon-silver .path11:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(130, 158, 175);
}
.icon-silver .path12:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gold .path1:before {
  content: "\e927";
  color: rgb(245, 198, 7);
}
.icon-gold .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(245, 161, 7);
}
.icon-gold .path3:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(244, 162, 7);
}
.icon-gold .path4:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(243, 162, 7);
}
.icon-gold .path5:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(242, 163, 7);
}
.icon-gold .path6:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(241, 163, 7);
}
.icon-gold .path7:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(240, 164, 7);
}
.icon-gold .path8:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(239, 164, 7);
}
.icon-gold .path9:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(238, 165, 7);
}
.icon-gold .path10:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(237, 166, 7);
}
.icon-gold .path11:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(236, 166, 7);
}
.icon-gold .path12:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(235, 167, 7);
}
.icon-gold .path13:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(234, 167, 7);
}
.icon-gold .path14:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(233, 168, 7);
}
.icon-gold .path15:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(232, 169, 7);
}
.icon-gold .path16:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(230, 169, 6);
}
.icon-gold .path17:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(229, 170, 6);
}
.icon-gold .path18:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(228, 170, 6);
}
.icon-gold .path19:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-out:before {
  content: "\e93a";
  color: rgb(219, 215, 254);
  font-size: 16px;
  margin-right: 5px;
  vertical-align: bottom;
}
.icon-lock:before {
  content: "\e93b";
  color: rgb(219, 215, 254);
  font-size: 18px;
  margin-right: 5px;
}
.icon-cancel:before {
  content: "\e917";
  color: #969fbb;
}
.icon-Download-template:before {
  content: "\e918";
  color: #969fbb;
}
.icon-submission:before {
  content: "\e919";
  color: #969fbb;
}
.icon-kaishi:before {
  content: "\e900";
  color: #969fbb;
}
.icon-Success:before {
  content: "\e901";
  color: #969fbb;
}
.icon-seach:before {
  content: "\e902";
  color: #969fbb;
}
.icon-download-manage:before {
  content: "\e903";
  color: #969fbb;
}
.icon-download:before {
  content: "\e904";
  color: #969fbb;
}
.icon-set:before {
  content: "\e905";
  color: rgb(219, 215, 254);
  font-size: 18px;
  margin-right: 5px;
}
.icon-news:before {
  content: "\e906";
  color: #969fbb;
}
.icon-play:before {
  content: "\e907";
  color: #969fbb;
}
.icon-replace:before {
  content: "\e908";
  color: #969fbb;
}
.icon-edit:before {
  content: "\e909";
  color: #969fbb;
}
.icon-export:before {
  content: "\e90a";
  color: rgb(219, 215, 254);
  font-size: 18px;
  margin-right: 5px;
}
.icon-start:before {
  content: "\e90b";
  color: #969fbb;
}
.icon-narrow:before {
  content: "\e90c";
  color: #969fbb;
}
.icon-close:before {
  content: "\e90d";
  color: #969fbb;
}
.icon-next:before {
  content: "\e90e";
  color: #969fbb;
}
.icon-pre:before {
  content: "\e90f";
  color: #969fbb;
}
.icon-delete:before {
  content: "\e910";
  color: #969fbb;
}
.icon-suspend:before {
  content: "\e911";
  color: #969fbb;
}
.icon-Refresh:before {
  content: "\e912";
  color: #969fbb;
}
.icon-uploading:before {
  content: "\e913";
  color: #969fbb;
}
.icon-upload:before {
  content: "\e914";
  color: rgb(219, 215, 254);
  font-size: 18px;
  margin-right: 5px;
}
.icon-music-manage:before {
  content: "\e915";
  color: rgb(219, 215, 254);
  font-size: 18px;
  margin-right: 5px;
}
.icon--01-01:before {
  content: "\e916";
  color: rgb(219, 215, 254);
  font-size: 18px;
  margin-right: 5px;
}
